@use "style.scss" as *;

.mainHomeBlog > .items{
  display: grid;
  grid-template-columns: repeat(3,1fr);


  > a > article{
    padding: 24px;
  }

  > a:first-child{
    grid-column: 3 span;

    > article{
      display: flex;
      gap: 24px; align-items: center;

      &:hover h3{
        color: $primary-color;
      }

      > .thumbnail{
        width: 40%;
        aspect-ratio: 16/9;
        margin-bottom: 0;
      }

      > .info{
        h3{
          font-size: 24px;

        }
        
      }
    }

  }

  > a:nth-child(1n + 2) > article{

    border-top: 1px solid #ddd;

    > .thumbnail{
      width: 100%;
      aspect-ratio: 4/3;
      margin-bottom: 16px;
      
    }
  }

  > a:nth-child(3) > article,
  > a:nth-child(2) > article{
    border-right: 1px solid #ddd;
  }
}

.mainPopularBlog{
  border-left: 1px solid #ddd;
  h2{padding: 0 24px;}
  h3{font-size: 14px;}

  .mainPopularBlogItems{
    > a{
      padding: 0 24px;
    }
  }
}

.popularLinkBtn{
  display: flex; justify-content: end;
  padding: 16px 24px;
  > a{
    width: fit-content;
    > p{width: fit-content;}
  } 
}



@media all and (max-width:768px) {
  .mainPopularBlog{
    h3{font-size: 16px; word-break: keep-all;}
  }

  .mainHomeBlog > .items{

    > a > article{
      padding: 16px;
    }

    > a:nth-child(1n + 2){
      grid-column: 4 span;
      > article{
        display: flex;
        gap: 24px; align-items: center;
        width: 100%;
        
        > .thumbnail{
          width: 40%;
          aspect-ratio: 16/9;
          margin-bottom: 0;
        }

        .info .desc{
          display: none;
        }
      }
    }

    > a:first-child{
      grid-column: 3 span;
  
      > article{
        display: flex;
        gap: 24px; align-items: center;
        flex-direction: column;

  
        > .thumbnail{
          width: 100%;
          aspect-ratio: 16/9;
          margin-bottom: 0;
        }
  
        > .info{
          h3{
            font-size: 24px;
          }
          
        }
      }
  
    }
  }

  .mainSection{
    padding-top: 48px;
  }
}