

$container : 1280px;
$primary-color : #ff4800;
$containerPadding: calc(1280px + 48px); 

.contents{
  width: 100%;
  max-width: $container;
  display: block;
}

.contents-padding{
  max-width: $containerPadding;
  width: 100%;
  display: block;
}

.text-primary{ color: $primary-color; }

header{

  background: var(--background);
  border-bottom: 1px solid #ddd;
  .contents{
    max-width: $container;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;

    height: 64px; align-items: center;


    .client-header-left{
      .client-header-logo{
        font-size: 20px;
        font-weight: 500;
      }
    }
    .client-header-menu{
      display: flex;
      gap: 20px; font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;

      .active{
        color: $primary-color;
        font-weight: 600;
      }
    }
  }
}

.dark .header{

}

@media all and (max-width:768px){
  .contents{
    padding: 0 16px;
  }
}

