$system-blue-50:  #EFF8FF;
$system-blue-100: #D1E9FF; $system-blue-200: #B2DDFF; $system-blue-300: #84CAFF;
$system-blue-400: #53B1FD; $system-blue-500: #2E90FA; $system-blue-600: #1570EF;
$system-blue-700: #1A56DB; $system-blue-800: #1E429F; $system-blue-900: #233876;

$primary-point : $system-blue-600;
$primary-light : $system-blue-100;


$system-gray-50 : #f7f7f7;
$system-gray-100: #F0F0F1; $system-gray-200: #ECECED; $system-gray-300: #CFCFD2;
$system-gray-400: #94979C; $system-gray-500: #858B8E; $system-gray-600: #61656C;
$system-gray-700: #373A41; $system-gray-800: #13181B; $system-gray-900: #0C0E12;

$system-success-50 : #ECFDF3;
$system-success-100: #DCFAE6; $system-success-200: #ABEFC6; $system-success-300: #75E0A7;
$system-success-400: #47CD89; $system-success-500: #17B26A; $system-success-600: #079455;
$system-success-700: #067647; $system-success-800: #05603A; $system-success-900: #054F31;

$system-error-50:  #FEF3F2;
$system-error-100: #FEE4E2; $system-error-200: #FECDCA; $system-error-300: #FDA29B;
$system-error-400: #F97066; $system-error-500: #F04438; $system-error-600: #D92D20;
$system-error-700: #B42318; $system-error-800: #912018; $system-error-900: #7A271A;

$system-warning-50:  #FFFAEB;
$system-warning-100: #FEF0C7; $system-warning-200: #FEDF89; $system-warning-300: #FEC84B;
$system-warning-400: #FDB022; $system-warning-500: #F79009; $system-warning-600: #DC6803;
$system-warning-700: #B54708; $system-warning-800: #93370D; $system-warning-900: #7A2E0E;

$text-primary : $system-gray-900;
$text-secondary : $system-gray-700;
$text-tertiary : $system-gray-500;