.article-editor{
  ul{
    list-style: disc;
    padding-left: 20px;
  }
  blockquote{
    padding-left: 20px;
    border-left: 2px solid var(--color-gray-200);
  }

  hr{
    width: 100%;
  }

  h2{
    margin-bottom: 16px;
    font-size: 20px;
  }

  h3{
    font-size: 18px;
    margin-bottom: 12px;
  }

  p{line-height: 1.6;}

}